{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,

  "plugins": ["prettier-plugin-sql-cst"],
  "overrides": [
    {
      "files": ["*.sql"],
      "options": {
        "sqlCanonicalSyntax": true,
        "sqlKeywordCase": "lower"
      }
    }
  ]
}
