# Bun is a JavaScript runtime environment. It is used to run the end-to-end test database fixture server.
bun     1

# Java is a dependency for Android development. The version is dependent on the configuration from Expo.
#
# See:
#  - https://developer.android.com/build/jdks
#  - https://docs.expo.dev/get-started/set-up-your-environment/?platform=android&device=physical&mode=development-build&buildEnv=local
java    17

# Maestro is an end-to-end testing framework.
# See https://www.maestro.dev/.
maestro latest

# Node.js is a JavaScript runtime environment. It is a dependency of Expo.
# See https://docs.expo.dev/get-started/create-a-project/.
nodejs  lts

# Ruby is the language for CocoaPods, a dependency manager for iOS projects.
# See https://cocoapods.org.
ruby    2
